.dashboard {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Adjusted height */
  position: relative; /* Added position relative */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  padding-top: 70px; /* Adjust the padding as needed */
  color: rgb(83, 83, 83);
}

.description {
  background-color: #3e3b3b00;
  padding: 20px;
  text-align: center;
  z-index: 1; /* Change z-index to 1 */
}

.map-container {
  flex: 1;
  width: 100%;
  height: 100vh; /* Adjust height to avoid cropping */
  position: relative;
}

.map-container .flourish-embed {
  width: 100%;
  height: 100%;
}

.milestone {
  background-color: #f0f0f000;
  padding: 20px;
  width: 90%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 1;
  position: relative; /* Added position relative */
}

.button-container {
  background-color: #000000a8;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.button {
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff00;
  color: #ffffff;
  font-size: 16px;
  font-style: bold;
  text-decoration: none;
}

.button:hover {
  background-color: #9292928e;
}

.container {
  position: relative;
}

body{
  margin:0;
}